/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
      /* top header start */
    .top_header{
        display: none;
    }
    /* top header end */
    /* banner start */
    .banner_content{
    padding: 80px 0;
    }
    .banner_content h2 {
    margin: 18px 0px 35px 0px !important;
    font-size: 36px;
    line-height: 50px;
    }
    /* banner end */
      .sec_padding{
      padding: 60px 0;
    }
    .about_img{
      margin-bottom: 30px;
    }
      .about_content h2 {
      font-size: 24px;
    }
    /* service section start */
    .sec_padding{
      padding: 60px 0;
    }
    .c_service {
    margin: 65px 0 0;
    }
    .sec_title h2{
    font-size: 24px;
  }
  .c_h2{
    font-size: 16px;
  }
    /* service section end */
  /* feature section start */
    .feature_content {
    margin: 50px 0 0;
  }
    /* feature section end */
        /* package section start */
    .package_content{
    margin: 50px 0 0;
  }
  .package_content h2 {
    font-size: 25px;
  }
    .package_content span{
    font-size: 16px;
}
    /* package section end */
      /* book section start */
    .form_input{
    margin: 50px 0 0;
  }
    .row_mb{
      margin-bottom: 0 !important;
    }
  .cm_control{
    margin-bottom: 16px;
  }
    /* book section end */
   /* contact start */
    .message_content{
    margin: 50px 0 0;
  }
    .contact_img{
    margin-bottom: 25px;
  }
    /* contact end */
    .f_header h2{
      font-size: 25px;
      margin-bottom: 30px;
  }
    .f_content{
      text-align: center;
    }
    .social ul{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    


 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
      /* top header start */
    .top_header{
        display: none;
    }
    /* top header end */
    /* banner start */
    .banner_content{
    padding: 80px 0;
    }
    .banner_content h2 {
    margin: 18px 0px 35px 0px !important;
    font-size: 43px;
    line-height: 50px;
    }
    /* banner end */
     .sec_padding{
      padding: 60px 0;
    }
    .about_img{
      margin-bottom: 40px;
    }
      .about_content h2 {
      font-size: 28px;
    }
    /* service section start */
      .sec_padding{
        padding: 60px 0;
    }
    .sec_title h2{
    font-size: 28px;
  }
  .c_h2{
    font-size: 16px;
  }
    /* service section end */
    /* feature section start */
    .feature_content {
    margin: 60px 0 0;
  }
    /* feature section end */
    /* package section start */
    .package_content{
    margin: 60px 0 0;
  }
  .package_content h2 {
    font-size: 25px;
  }
    .package_content span{
    font-size: 16px;
}
    /* package section end */
      /* book section start */
    .form_input{
    margin: 60px 0 0;
  }
    .row_mb{
      margin-bottom: 0 !important;
    }
  .cm_control{
    margin-bottom: 16px;
  }
    /* book section end */
    /* contact start */
    .message_content{
    margin: 60px 0 0;
  }
    .contact_img{
    margin-bottom: 25px;
  }
    /* contact end */
      .f_header h2{
      margin-bottom: 30px;
  }
    .f_content{
      text-align: center;
    }
    .social ul{
      display: flex;
      justify-content: center;
      align-items: center;
    }



 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
      /* top header start */
    .top_header{
        display: none;
    }
    /* top header end */
    /* banner start */
    .banner_content{
    padding: 80px 0;
    }
    .banner_content h2 {
    margin: 18px 0px 35px 0px !important;
    font-size: 43px;
    line-height: 50px;
    }
    /* banner end */
    /* about section start */
      .sec_padding{
      padding: 80px 0;
    }
      .about_content h2 {
      font-size: 28px;
    }
    /* about section end */
    /* service section start */
    .sec_padding{
      padding: 80px 0;
    }
     .sec_title h2{
    font-size: 28px;
  }
    /* service section end */
    /* feature section start */
    .feature_content {
    margin: 60px 0 0;
  }
    /* feature section end */
        /* package section start */
  .package_content{
    margin: 60px 0 0;
  }
  .package_content h2 {
    font-size: 30px;
  }
  .package_content span{
    font-size: 18px;
}
    /* package section end */

    /* book section start */
  .form_input{
    margin: 60px 0 0;
  }
    .row_mb{
      margin-bottom: 0 !important;
    }
  .cm_control{
    margin-bottom: 16px;
  }

    /* book section end */
    /* contact start */
    .message_content{
    margin: 60px 0 0;
  }
  .contact_img{
    margin-bottom: 30px;
  }
    /* contact end */
    /* footer */
    .f_header h2{
      margin-bottom: 30px;
  }
    .f_content{
      text-align: center;
    }
    .social ul{
      display: flex;
      justify-content: center;
      align-items: center;
    }


 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  
  /* about start */
   .about_content h2 {
      font-size: 38px;
    }
  /* about end */
  /* service section start */
   .sec_title h2{
    font-size: 38px;
  }
  /* service section end */

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
  


 }


/* Extra Estra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) { 
  
 }