@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* comon start */
:root{
    --primary_color: #141414;
    --secondary_color: #ffc000;
    --border_light: #997813;
    --text_color: #ffffff;
}
.sec_padding{
    padding: 80px 0;
}
.sec_title h2{
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--text_color);
}
.sec_title span{
    color: var(--secondary_color);
}
body{
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--primary_color);
}

a{
    text-decoration: none;
    color: var(--primary_color);
}

/* comon end */

/* top header start */
.top_header{
    background-color: #ffc000;
}
.topbar{
    padding: 6px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topbar_left ul{
    list-style: none;
}
.topbar_left ul li{
    display: inline-block;
}

.topbar_left a{
    font-size: 14px;
    margin: 0px 8px;
}
.info_icon{
    width: 25px;
    height: 25px;
    font-size: 14px;
    border: 1px solid rgba(20, 20, 20, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    float: left;
    cursor: pointer;
    transition: all 0.5s;
}
.topbar_left li:hover .info_icon{
    background-color: var(--primary_color);
    color: var(--secondary_color);
}
.topbar_left li:hover a{
    text-decoration: underline;
    color: var(--primary_color);
}


.topbar_right{
    font-size: 14px;
    text-transform: capitalize;
}
.topbar_right .user_icon{
    font-size: 14px;
    margin-right: 5px;
}
.topbar_right a:hover{
    text-decoration: underline;
    color: var(--primary_color);
}


/* top header end */

/* header start */
.main_navbar{
    z-index: 9999;
    background-color: var(--primary_color);
}
.main_navbar.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.logo{
    color: var(--secondary_color) !important;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.c_nav li{
    margin-left: 20px;
}
.c_nav .c_active{
    color: var(--secondary_color) !important;
}
.c_nav a{
    color: var(--text_color) !important;
    text-transform: uppercase;
    transition: all 0.3s;
}
.c_nav a:hover{
    color: var(--secondary_color) !important;
}
/* navbar toggler start */
.cm_toggler{
    color: rgba(255, 192, 0, 0.28) !important;
    border-color: rgba(255, 192, 0, .90) !important;
}
.cm_toggler:focus{
    box-shadow: 0 0 0 .30rem;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 192, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* navbar toggler end */

/* header end */

/* banner start */
.banner{
    background-color: var(--primary_color);
    overflow: hidden;
}
.banner_content{
    padding: 120px 0;
    color: var(--text_color);
}
.banner_content span{
    color: var(--secondary_color);
}
.banner_content h5{
    font-size: 18px;
    text-transform: capitalize;
}
.banner_content h2{
    margin: 25px 0px 40px 0px !important;
    font-size: 53px;
    text-transform: capitalize;
    line-height: 60px;
}
.c_btn{
    /* padding: 8px 16px; */
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    border: 1px solid var(--secondary_color);
    color: var(--text_color);
    border-radius: 5px;
    transition: 0.3s;
}
.c_btn:hover{
    background-color: var(--secondary_color);
    color: var(--primary_color);
}
/* banner end */


/* about section start */
/* .sec_padding{
    padding: 80px 0;
} */
.about_img{
    overflow: hidden;
}
.about_img img{
    border-radius: 5px;
}
.about_content h2{
    font-size: 45px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 20px;
}
.about_content span{
    color: var(--secondary_color);
}
.btn_c{
    margin-top: 16px;
    padding: 10px 16px;
    background-color: var(--secondary_color);
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    transition: 0.3s;
}
.btn_c:hover{
    background-color: var(--primary_color);
    color: var(--text_color);
}
/* about section end */


/* service section start */
#service{
    background-color: var(--primary_color);
}
/* .service_title h2{
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--text_color);
}
.service_title span{
    color: var(--secondary_color);
} */



.c_service{
    margin: 80px 0 0;
    padding: 0 15px 35px;
    border: 1px solid var(--border_light);
    transition: 0.3s;
}
.c_icon{
    width: 65px;
    margin: -22px auto;
    background-color: var(--primary_color);
}
.c_icon i{
    font-size: 60px;
    color: var(--border_light);
    transition: 0.3s;
}
.c_h2{
    margin: 28px 0px 16px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}
.c_line{
    margin: 0 auto;
    width: 70px;
    height: 2px;
    background-color: var(--border_light);
    transition: 0.3s;
}
.c_p{
   margin: 16px 0 32px;
}
.service_btn{
    padding: 10px 16px;
    color: var(--text_color);
    border: 1px solid var(--border_light);
    background: transparent;
    border-radius: 5px;
    text-transform: capitalize;
    transition: 0.3s;
}
/* service hover start */
.c_service:hover{
    border-color: var(--secondary_color);
}
.c_service:hover .c_icon i{
    color: var(--secondary_color);
}
.c_service:hover .c_line{
    background-color: var(--secondary_color);
}
.c_service:hover .service_btn{
    border-color: var(--secondary_color);
}
.service_btn:hover{
    background-color: var(--secondary_color);
    color: var(--primary_color);
}
/* service hover end */
/* service section end */

/* feature section start */
.feature_h2{
    color: var(--primary_color) !important;
    text-align: center;
}
.feature_content{
    margin: 70px 0 0;
    padding: 30px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature_content:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
.f_icon{
    margin-bottom: 20px;
}
.f_icon i{
    font-size: 60px;
    color: var(--secondary_color);
}
.feature_content h2{
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
}
.feature_content p{
    margin: 20px 0;
}
/* feature section end */

/* package section start */
#package{
    background-color: var(--primary_color);
}
.package_content{
    margin: 70px 0 0;
    padding: 30px 15px;
    /* border: 1px solid var(--secondary_color); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0px 6px 20px 0px rgba(0, 0, 0, 1);
}
.package_content .img{
    width: 70%;
}
.package_content h4{
    margin-top: 16px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
.package_content p{
    margin: 17px 0 !important;
}
.package_content h2{
    font-size: 40px;
}
.package_content span{
    font-size: 20px;
}
/* package section end */

/* book section start */
.form_input{
    margin: 70px 0 0;
}

/* book section end */


/* testimonial start */
.testimonial{
    text-align: center;
    background-color: var(--primary_color);
}
.testimonial_content{
    margin: 70px 0 0;
}
.testimonial_content p{
    margin: 30px 0 !important;
}
.testimonial_content span{
    color: var(--secondary_color);
    font-size: 24px;
}
.testimonial_img{
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: 3px solid var(--secondary_color);
}
.testimonial_content h4{
    color: var(--text_color);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 30px;
}
.testimonial_content h6{
    color: var(--text_color);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    color: var(--secondary_color);
}

/* testimonial end */




/* contact start */
.message_content{
    margin: 70px 0 0;
}
.contact_img img{
    border-radius: 5px;
}
.cm_message{
    margin-bottom: 16px;
}
/* contact end */

/* footer start */
footer{
    background-color: var(--primary_color);
}
.f_header h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
.f_location li{
    display: inline-flex;
}
.f_location i{
    color: var(--secondary_color);
}
.f_location span {
    font-size: 9px;
    width: 22px;
    height: 22px;
    border: 1px solid var(--secondary_color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.f_content h6{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.f_content ul{
    list-style: none;
    padding: 0;
}
.f_content li{
    margin-bottom: 5px;
}
.f_content a{
    color: var(--text_color);
}
.social a{
    margin-right: 16px;
    float: left;
    font-size: 18px;
    color: var(--secondary_color);
    width: 30px;
    height: 30px;
    border: 1px solid #ffc000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.social a:hover{
    background-color: var(--secondary_color);
    color: var(--primary_color);
}
/* footer end */

/* scroll up button start */
.scroll_top{
    background-color: var(--secondary_color);
    color: var(--primary_color);
    position: fixed;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    pointer-events: none;
    opacity: 0;
}
.scroll_top.active{
    bottom: 30px;
    pointer-events: auto;
    opacity: 1;
}
/* scroll up button end */